* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #f3f1ff;
}

/* header section start here */

header {
  width: 100%;
  height: 94px;
  background-color: #562eff;
}

nav {
  width: 870px;
  height: 94px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo,
.menu ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo p {
  color: #ffffff;
  margin-left: 16px;
  font-size: 24px;
}
.logo img {
  width: 41px;
  height: 51px;
}

.menu ul li {
  list-style: none;
  margin: 35px 18px;
}

.menu ul li a {
  text-decoration: none;
  color: #ffffff;
}

/* main section start here */

.hero {
  width: 870px;
  margin: 0 auto;
  background-color: #ffffff;
  border-radius: 5px;
  margin: 32px auto;
  padding: 30px;
}

.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 30px;
}

.player img {
  width: 56px;
  height: 56px;
}

h2 {
  font-size: 24px;
  color: #562eff;
  margin-bottom: 30px;
}

.player {
  display: flex;
  align-items: center;
}
.player p {
  font-size: 18px;
  color: #000000;
  margin-left: 16px;
}

hr{
  width: 807px;
  margin: 30px auto;
  border: 1px solid #D1D1D1;
}


/* blog sectioin start here */


.blogs{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 30px;
  grid-column-gap: 30px;
}
.blog{
  display: flex;
  align-items: center;
}

.thumbnail img{
  width: 177px;
  height: 117px;
}

.blog-title{
  font-size: 20px;
  margin-left: 16px;
}

.blog-author{
  color: #9F9F9F;
  margin-left: 16px;
}

.blog-author a{
  text-decoration: none;
  color:#562eff;
}
